#main {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    color: rgb(20, 139, 36);
    font-weight: bolder;
    padding: 20px;
    font-size: 3vw;
    border: 5px solid #850404;
    height: 100px;
    width: 50%;
    margin: auto;
}

body {
    background-image: url("../images/map.jpg");
    background-size: cover;
    font-family: 'Karla', sans-serif;
}     

#subwrapper {
    margin: 10px auto;
    background-color: rgba(255, 255, 255, 0.7);
    border: 5px solid #850404;
    height: 500px;
    width: 50%;
    text-align: center;
}    
img {
    max-width: 100% ;
    height: auto;
    margin-right: 5px;
    margin-top: 30px;
  }